@import "nativescript-theme-core/css/core.light.css";

ActionBar{
    background-color: #009688;
    font-family: 'Lato-Bold';
    color:#B2DFDB;
}

StackLayout{
    padding: 200px;
    /*background-color: #03a9f4;*/
}

Image{
    width: 300px;
    height: 300px;
}

ListPicker{
    font-family: 'Lato-Bold';
    font-size: 30px;
}

TabView{
    tab-text-color: #26A69A;
    selected-tab-text-color: #B2DFDB;
}

GridLayout{
    font-size: 30;
}
